
.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: #ff6347;
}

.navbar-brand i {
  margin-right: 8px;
  color: #ff6347;
}

.navbar.custom-light-aqua {
  background-color: #20B2AA;
}


.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  margin: 0 10px;
  text-align: center;
  transition: color 0.3s ease;
}


.navbar-nav .nav-link:hover {
  color: #007bff;
  text-decoration: underline;
  text-shadow: 1px 1px 5px rgba(0, 123, 255, 0.5);
}

.navbar-nav .nav-link.active {
  color: #ff6347;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(255, 99, 71, 0.6);
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-nav .nav-link {
    margin: 10px 0;
    font-size: 1rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }


  h1 {
    font-size: 2.5rem;
  }
}


@media (max-width: 1024px) and (min-width: 769px) {
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    margin: 5px 15px;
  }

  .navbar-brand {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .navbar-nav .nav-link {
    font-size: 0.9rem;
  }

  .footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: #333;
  }

  .footer p {
    margin: 0;
    font-weight: bold;
  }
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ff6347;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.card {
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img-top {
  border-radius: 15px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.8rem;
  color: #ff6347;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.1rem;
  color: #333;
}

