/* Stili per il titolo nella navbar */
.custom-title {
  color: #4CAF50; /* Colore verde */
  font-family: 'Arial', sans-serif; /* Imposta il font */
  font-weight: bold; /* Grassetto */
  font-size: 24px; /* Dimensione del font */
  text-transform: uppercase; /* Maiuscolo */
  transition: color 0.3s ease; /* Effetto di transizione */
}

.custom-title:hover {
  color: #1E7E34; /* Colore verde più scuro al passaggio del mouse */
}

.navbar {
  padding: 1rem; /* Aggiungi un po' di spazio attorno alla navbar */
}

/* Stili per il bottone "Gestione Recensioni" */
.navbar .btn {
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
}

.navbar .btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Responsività */
@media (max-width: 768px) {
  .navbar .ms-auto {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  .navbar .navbar-toggler {
    border-color: transparent;
  }

  .custom-title {
    font-size: 20px; /* Riduce la dimensione del font per i dispositivi mobili */
  }

  .navbar .btn {
    width: 100%; /* Rende il bottone "Gestione Recensioni" più grande e centrato su dispositivi mobili */
    margin-top: 10px;
  }
  /* Stili per la tabella responsiva */
  .table-responsive {
    margin-bottom: 20px; /* Aggiunge uno spazio sotto la tabella */
  }

}
