
.custom-title {
  color: #4CAF50;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.custom-title:hover {
  color: #1E7E34;
}

.navbar {
  padding: 1rem;
}

.navbar .btn {
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
}

.navbar .btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}


@media (max-width: 768px) {
  .navbar .ms-auto {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  .navbar .navbar-toggler {
    border-color: transparent;
  }

  .custom-title {
    font-size: 20px;
  }

  .navbar .btn {
    width: 100%;
    margin-top: 10px;
  }

  .table-responsive {
    margin-bottom: 20px;
  }

}
